<%- include header %>
<div class="container">
    <div>
        <form class="form-horizontal " method="post">
            <div class="form-group">
                <label for="inputEmail3" class="control-label  ">标题:</label>
                <div class="">
                    <input type="text" class="form-control" id="inputEmail3" name="titles" placeholder="请输入标题">
                </div>
            </div>

            <div class="form-group">
                <label for="" class="form-control-static col-sm-1" style="">标签:</label>
                <input type="text" class="form-control-static col-sm-1" name="tag1" />
                <input type="text" class="form-control-static col-sm-1" name="tag2">
                <input type="text" class="form-control-static col-sm-1" name="tag3">
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="control-label ">内容:</label>
                <div >
                    <textarea type="text" class="form-control" id="inputPassword3" rows="30" name="post" placeholder="请输入内容"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-10" >
                    <button type="submit" class="btn btn-primary btn-block">发&nbsp;&nbsp;&nbsp;表</button>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include footer %>